body {
    padding: 0;
    margin: 0;
}

nav {
    height: 62px;
    border-bottom: 2px solid #4CB8C4;
    background-image: linear-gradient(to right, #4CB8C4, #3CD3AD);
}

.section-header {
    border-bottom: 1.5px solid #dddddd;
    font-weight: 600;
    font-size: 18px;
    color: #2c8576;
    padding-left: 5px;
    margin-bottom: 8px;
    color: #3a7a7a;
    background: #ededed;
}

.content-area {
    margin: 10px;
}

.table-header {
    font-weight: 400;
    color: #193c37;
    font-size: 16.5px;
}

.container {
    padding: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 98%;
    }
}

.table input[type="text"] {
    width: 100%;
}

.content-area .table td,
.table th {
    padding: 0.35rem;
}

.order-number-cell {
    width: 18%;
}

.date-cell {
    width: 24%;
}

.table-responsive {
    max-height: 210px;
}

.planner-section .planner-row .custom-select {
    width: 15%;
}

.planner-section .bay-cell {
    width: 15%;
}

.button-primary {
    background-color: #379a9b;
    border-color: #379a9b;
    padding: 2px 5px;
    vertical-align: top;
}

.button-primary:hover {
    color: #fff;
    background-color: #1f5d5e;
    border-color: #1f5d5e;
}

.planner-row {
    margin-bottom: 0.5rem;
}

.planner-row label {
    width: 9rem;
    text-align: right;
    margin-right: 3px;
}

.planner-row .order-details {
    display: inline-block;
    width: 17rem;
    text-align: right;
}

.order-cell {
    width: 7%;
}

.dept-cell {
    width: 7%;
}

.item-cell {
    width: 15%;
}

.qty-cell {
    width: 10%;
}

.date-cell {
    width: 19%;
}

.date-cell input {
    width: 100%;
}

.week-cell {
    width: 7%;
}

.status-cell {
    width: 12%;
}

.comments-cell {
    width: 13%;
}

.comments-cell textarea {
    width: 100%;
}

.forms-section img {
    width: 7.5rem;
}

#carouselExampleIndicators {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0;
    right: 0;
    top: 0;
    width: 38%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#carouselExampleIndicators .close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #137f8d;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 0.7;
    z-index: 2;
}

#carouselExampleIndicators .close:hover,
#carouselExampleIndicators .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.carousel-control-next,
.carousel-control-prev {
    top: 45%;
    height: 4rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 30px;
    background-color: #137f8d;
}